<h1>Search Results</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Website</th>
      <th>Yes split</th>
      <th>No split</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= restaurant.name %></td>
    <td><%= restaurant.location %></td>
    <td><%= restaurant.website %></td>
    <td><%= restaurant.yes_split %></td>
    <td><%= restaurant.no_split %></td>
    <td><%= link_to 'Show', restaurant %></td>
    <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
    <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
