<div class="container">

    <%= render "header" %>

    <div class="col align-self-center">
    <div class="row justify-content-center">
<div class="showName">
 <h1><%= @restaurant.name %></h1>
 </div>
</div>
</div>
<div class="row justify-content-center">
  <%= @restaurant.location %>
  </div>

  <div class="row justify-content-center">
<% if @restaurant.website? then %>
  <%= @restaurant.website %>
  <% end %>
  </div>
  <div class="row justify-content-center">

      <div class="col-4">
  <div class="showPercent">
  <%= (@restaurant.yes_split/(@restaurant.yes_split.to_f + @restaurant.no_split) * 100).to_i %> % Yes
</div>
</div>
</div>

  <div class="row justify-content-center">

Yes Votes:<%= @restaurant.yes_split %>

No Votes:<%= @restaurant.no_split %>

</div>

<div class="row justify-content-center">

  Did <%= @restaurant.name %> split the check?
<div class="row justify-content-center">
<div class="col-6 align-self-center">

  <br>
  <%= link_to 'Yes', yes_path(@restaurant), class: "btn btn-primary", method: :put %>
    <%= link_to 'No', restaurant_path, class: "btn btn-danger" %>
    </div>




</div>
</div>




<%= link_to 'Back', restaurants_path %>
</div>
