<div class="container">

<div class="name">  <%= @restaurant.name %></div>

  <div class="location">  <%= @restaurant.location %></div>

<div class="website">
  <%= @restaurant.website %>
  </div>
<div class="totalVotes">
  <%= (@restaurant.yes_split/(@restaurant.yes_split.to_f + @restaurant.no_split) * 100).to_i %> % Yes
</div>
<p>
  <strong>Yes Votes:</strong>
  <%= @restaurant.yes_split %>
</p>

<p>
  <strong>No Votes:</strong>
  <%= @restaurant.no_split %>
</p>

  Did <%= @restaurant.name %> split the check?
<div class="row justify-content-center">
<div class="col-6 align-self-center">

  <br>
  <%= link_to 'Yes', restaurant_path,  class: "btn btn-primary" %>
    <%= link_to 'No', restaurant_path,  class: "btn btn-danger" %>




</div>
</div>




<%= link_to 'Back', restaurants_path %>
</div>
