

<div class="name">  <%= @restaurant.name %></div>

  <div class="location">  <%= @restaurant.location %></div>

<div class="website">
  <%= @restaurant.website %>
  </div>
<div class="totalVotes">
  <%= (@restaurant.yes_split/(@restaurant.yes_split.to_f + @restaurant.no_split) * 100).to_i %> % Yes
</div>
<p>
  <strong>Yes Votes:</strong>
  <%= @restaurant.yes_split %>
</p>

<p>
  <strong>No Votes:</strong>
  <%= @restaurant.no_split %>
</p>

Did <%= @restaurant.name %> split the check?
<%= link_to 'Yes', root_path, class: "btn", id:"yes" %>
<%= link_to 'No', root_path, class: "btn", id:"yes" %>|
<%= link_to 'Back', restaurants_path %>
