<div class="container">

    <%= render "header" %>
<div class="showRestaurantInfo">
    <div class="col align-self-center">
    <div class="row justify-content-center">
<div class="showName">
 <h1><%= @restaurant.name %></h1>
 </div>
</div>
</div>
<div class="row justify-content-center">
  <div class="showLocation">
  <%= @restaurant.location %>
  </div>
  </div>

  <div class="row justify-content-center">
    <div class="showWebsite">
<% if @restaurant.website? then %>
  <%= link_to "Restaurant Website", @restaurant.website, :target=> '_blank' %>
  <% end %>
  <br>
  <%= link_to "Edit", edit_restaurant_path(@restaurant) %>
  </div>
  </div>
  </div>

  <div class="row justify-content-center">


      <div class="col-6">
  <div class="showPercent">
    <% if (@restaurant.yes_split == 0 && @restaurant.no_split == 0) %>
      Not Enough Votes!
      <% elsif (@restaurant.yes_split > 0 && @restaurant.no_split == 0) %>
      100% Yes
      <% elsif (@restaurant.yes_split == 0 && @restaurant_no_split > 0) %>
      0% Yes
      <% else %>
  <%= (@restaurant.yes_split/(@restaurant.yes_split.to_f + @restaurant.no_split) * 100).to_i %> % Yes
<% end %>

</div>
</div>
</div>

  <div class="row justify-content-center">
<div class="showVoteAmount">
Yes Votes: <%= @restaurant.yes_split %>

No Votes: <%= @restaurant.no_split %>
</div>
</div>

<div class="row justify-content-center">
  <div class="col-5">
<div class="showVoteButtons">
  Did <%= @restaurant.name %> split the check for you?
<div class="row justify-content-center">
<div class="col align-self-center">
  <br>
  <%= link_to 'Yes', yes_path(@restaurant), class: "btn btn-primary", method: :put %>
    <%= link_to 'No', no_path(@restaurant), class: "btn btn-danger", method: :put %>


    </div>
    </div>
    </div>




</div>
</div>




<%= link_to 'Back', restaurants_path %>
</div>
