<div class="container">

<div class="showRestaurantInfo">
    <div class="col align-self-center">
    <div class="row justify-content-center">
<div class="showName">
 <h1><%= @restaurant.name %></h1>
 </div>
</div>
</div>
<div class="row justify-content-center">
  <div class="showLocation">
  <%= @restaurant.location %>
  </div>
  </div>

  <div class="row justify-content-center">
    <div class="showWebsite">
<% if @restaurant.website? then %>
  <%= link_to "Restaurant Website", @restaurant.website, :target=> '_blank' %>
  <% end %>
  <br>
  <% if user_signed_in? then %>
  <%= link_to "Edit", edit_restaurant_path(@restaurant) %>
  <% end %>
  </div>
  </div>
  </div>

  <div class="row justify-content-center">


      <div class="col-6">
  <div class="showPercent">
    <% if (@restaurant.votes.all.count == 0) %>
      Not Enough Votes!
      <% elsif (@restaurant.votes.where(vote_type:"Yes").count > 0 && @restaurant.votes.where(vote_type:"No").count == 0) %>
      100% Yes
      <% elsif (@restaurant.votes.where(vote_type:"Yes").count == 0 && @restaurant.votes.where(vote_type:"No").count > 0) %>
      0% Yes
      <% else %>
        <%= ((@restaurant.votes.where(vote_type:"Yes").count.to_f / @restaurant.votes.all.count) * 100).to_i %> % Yes

<% end %>

</div>
</div>
</div>

  <div class="row justify-content-center">
<div class="showVoteAmount">

Yes Votes: <%= @restaurant.votes.where(vote_type:"Yes").count %>

No Votes: <%= @restaurant.votes.where(vote_type:"No").count %>

All Votes <%= @restaurant.votes.count %>
</div>
</div>
  <% if user_signed_in? then %>
<div class="row justify-content-center">
  <div class="col-5">
<div class="showVoteButtons">
  Did <%= @restaurant.name %> split the check for you?
<div class="row justify-content-center">
<div class="col align-self-center">
  <br>
  <form action="/votes" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="vote[restaurant_id]" value="<%= @restaurant.id %>">
        <input type="hidden" name="vote[vote_type]" value="Yes">
    <input type="submit" value="Yes" class="btn btn-primary">
    </form>
    <form action="/votes" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="vote[restaurant_id]" value="<%= @restaurant.id %>">
        <input type="hidden" name="vote[vote_type]" value="No">
      <input type="submit" value="No" class="btn btn-danger">
      </form>
<% else %>
<div class="row justify-content-center">
  <div class="col-5">
    <div class="showVoteButtons">
Please <%= link_to 'log in', new_user_session_path %> or <%= link_to 'sign up', new_user_registration_path %> to cast your vote!
</div>
</div>
</div>
<% end %>
    </div>
    </div>
    </div>
<br><br>
    <p>
    <strong>Comments: </strong>
    <%= render @restaurant.comments %>
    <%= render partial: 'comments/form', locals: { restaurant: @restaurant } %>
    </p>


</div>
</div>




<%= link_to 'Back', restaurants_path %>
</div>
